.title {
    text-align: center;
}

body {
    margin: 0px;
}

body p {
    padding: 20px;
}

.body1 {
    background-color: lightblue;
    padding: 20px;
    width: 97.3%;
    height: 350px;
}

.body1 img {
    width: auto;
    height: 310px;
    object-fit: cover;
    float: left;
    margin: 20px;
}

.body1 p {
    text-align: justify;
    text-indent: 20px;
}

.body2 {
    width: 300px;
    height: 300px;
    margin: 0 auto; /* My method of aligning <div>'s' */
    margin-bottom: 100px;
    position: relative;
    top: 20px;
}

.body2 h3 {
    text-align: center;
}

.body2 li {
    margin: 10px;
}
