.title {
    text-align: center;
}

body {
    margin: 0px;
}

body p {
    padding: 20px;
}

.body1 {
    background-color: lightblue;
    padding: 20px;
    text-align: left;
    width: 97.3%;
}

.body1 img {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.body1 table {
    margin: 0 auto;
    padding: 0px 50px;
}

.body1 p {
    margin: 10px 40px;
    text-indent: 20px;
}

.body1 td:nth-child(2) {
    width: 300px;
}

.body2 {
    width: 300px;
    height: 300px;
    margin: 0 auto; /* My method of aligning <div>'s' */
    margin-bottom: 100px;
    position: relative;
    top: 20px;
}

.body2 h3 {
    text-align: center;
}

.body2 li {
    margin: 10px;
}
